* {
  padding: 0;
  margin: 0
}

body {
  font-family: "Montserrat Regular"
}

@font-face {
  font-family: "Dock11 Heavy";
  src: url(../fonts/heavy_dock11.otf)
}

@font-face {
  font-family: "Montserrat Regular";
  src: url(../fonts/Montserrat-Regular.ttf)
}

@font-face {
  font-family: "Nunito SemiBold";
  src: url(../fonts/Nunito-SemiBold.ttf)
}

@font-face {
  font-family: "Nunito ExtraBold";
  src: url(../fonts/Nunito-ExtraBold.ttf)
}

@font-face {
  font-family: "Nunito Bold";
  src: url(../fonts/Nunito-Bold.ttf)
}

@font-face {
  font-family: "Montserrat Bold";
  src: url(../fonts/Montserrat-Bold.ttf)
}

@font-face {
  font-family: "Montserrat Black";
  src: url(../fonts/Montserrat-Black.ttf)
}

.home-page {
  background-image: url(../images/bg-main.jpg)
}

.bg-flex {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.home-page .leftSide .topMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10
}

.fundrasing-page .logoTopMenu img,
.home-page .leftSide .logoTopMenu img {
  max-width: 70px;
  z-index: 10
}

.fundrasing-page,
.leftSide {
  padding: 10px 10px;
  z-index: 10
}

.fundrasing-page .navbar,
.leftSide .navbar {
  padding: 0
}

.fundrasing-page .navbar a img.logoTopMenu,
.leftSide .navbar a img.logoTopMenu {
  max-width: 100px
}

.fundrasing-page ul.nav,
.leftSide ul.nav {
  padding-left: 10px;
  z-index: 10
}

.fundrasing-page ul.nav li a,
.leftSide ul.nav li a {
  margin: 8px 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  line-height: 16px;
  color: #747474;
  transition: .3s ease-in-out;
  position: relative;
  display: inline-block;
  padding: 0;
  padding-bottom: 8px;
  z-index: 10
}

.fundrasing-page .bottomMenu ul.nav li a:before,
.fundrasing-page ul.nav li a:before,
.leftSide ul.nav li a:before,
.rightSide .bottomMenu ul.nav li a:before {
  content: " ";
  position: absolute;
  left: 50%;
  bottom: 0;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  transition: all .3s;
  opacity: 0;
  height: 3px;
  width: 0;
  background-color: #000;
  color: #fff;
  z-index: 10
}

.fundrasing-page ul.nav li,
.leftSide ul.nav li {
  display: inline-block;
  list-style: none;
  transition: background-color .3s;
  z-index: 10
}

.fundrasing-page .bottomMenu ul.nav li:hover a:before,
.fundrasing-page ul.nav li:hover a:before,
.leftSide ul.nav li:hover a:before,
.rightSide .bottomMenu ul.nav li:hover a:before {
  width: 100%;
  opacity: 1;
  background-color: #a30ae9;
  z-index: 10
}

.fundrasing-page .bottomMenu ul.nav li a.active:before,
.fundrasing-page ul.nav li a.active:before,
.leftSide ul.nav li a.active:before,
.rightSide .bottomMenu ul.nav li a.active:before {
  background-color: #e49523;
  width: 100%;
  opacity: 1;
  z-index: 10
}

.fundrasing-page .bottomMenu ul.nav li a.active,
.fundrasing-page ul.nav li a.active,
.leftSide ul.nav li a.active,
.rightSide .bottomMenu ul.nav li a.active {
  color: #e49523;
  z-index: 10
}

.fundrasing-page .bottomMenu ul.nav li:hover a,
.fundrasing-page ul.nav li:hover a,
.leftSide ul.nav li:hover a,
.rightSide .bottomMenu ul.nav li:hover a {
  color: #a30ae9;
  z-index: 10
}

.leftSide .bigLogo img {
  max-height: 65px;
  margin: auto;
  text-align: center
}

.leftSide .bigLogo {
  padding: 10px 0;
  text-align: center
}

.leftSide .row .imageBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px 0
}

.leftSide .row .imageBox img {
  max-width: 50px;
  z-index: 10
}

.leftSide .row .imageBox .topIcon {
  display: flex;
  justify-content: center;
  align-items: center
}

.leftSide .row .imageBox .topIcon h2 span {
  margin-left: 20px;
  color: #97edf6
}

.leftSide .row .imageBox .topIcon h2 {
  font-size: 20px;
  font-family: "Dock11 Heavy";
  position: relative;
  font-weight: 700;
  line-height: 20px;
  padding-top: 24px;
  margin-left: -16px;
  z-index: 10;
  color: #1ac1e4;
  text-transform: uppercase
}

.leftSide .row .imageBox .topIcon h2 span.uniqueWord {
  position: absolute;
  top: 24px;
  left: 0;
  margin: 0;
  display: inline-block;
  color: #fff !important
}

.leftSide .row .imageBox .topIcon.designBox h2 {
  color: #4709d2
}

.leftSide .row .imageBox .topIcon.contentCreationBox h2,
.leftSide .row .imageBox .topIcon.contentCreationBox h2 span {
  color: #8ac426
}

.leftSide .row .imageBox .topIcon.financeBox h2 {
  color: #de8b22
}

.leftSide .row .imageBox .topIcon.resiliencyBox h2 {
  color: #6f2ca9
}

.leftSide .row .imageBox .topIcon.codingBox h2 {
  color: #3a6075
}

.leftSide .row .imageBox h3 {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  font-family: "Montserrat Bold";
  color: #3b3a4d;
  z-index: 10
}

.leftSide .row .imageBox h3 span {
  margin-bottom: 5px;
  display: inline-block;
  z-index: 10
}

.leftSide .row .imageBox a.devShopLink {
  color: #1ac1e4
}

.leftSide .row .imageBox a.designLink {
  color: #8157e0
}

.leftSide .row .imageBox a.contentCreationLink {
  color: #8ac326
}

.leftSide .row .imageBox a.financeLink {
  color: #c57715
}

.leftSide .row .imageBox a.resiliencyLink {
  color: #6126b3
}

.leftSide .row .imageBox a.codingLink {
  color: #609eb3
}

.leftSide .row .imageBox a {
  font-size: 12px;
  text-decoration: none;
  font-family: "Montserrat Regular";
  font-weight: 700;
  z-index: 10;
  transition: .5s ease-in-out
}

.leftSide .row .imageBox a img {
  max-width: 30px;
  margin-left: 5px;
  z-index: 10;
  transition: .2s ease-in-out
}

.leftSide .row .imageBox a:hover img {
  margin-left: 8px
}

.rightSide {
  padding: 10px 10px;
  z-index: 10
}

.fundrasing-page .donateLink,
.rightSide .donateLink {
  padding: 20px 30px;
  height: 100%;
  z-index: 10
}

.fundrasing-page .donateLink img,
.rightSide .donateLink img {
  max-width: 90px;
  z-index: 10
}

.rightSide .heroHeading {
  padding: 10px;
  text-align: left;
  z-index: 10
}

.rightSide .heroHeading h1 {
  font-family: "Montserrat Black";
  font-size: 42px;
  color: #fff;
  text-transform: uppercase;
  line-height: 44px;
  z-index: 10
}

.rightSide .youthImage {
  text-align: right;
  z-index: 10
}

.rightSide .mentorImage img,
.rightSide .youthImage img {
  max-width: 67%;
  z-index: 10
}

.rightSide .detailText {
  font-family: "Nunito Bold";
  padding: 0 40px;
  z-index: 10
}

.rightSide .detailText h3 {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0 0;
  color: #fff;
  z-index: 10
}

.rightSide .footerBottomLogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-left: 36px;
  z-index: 10;
  margin-top: 10px
}

.rightSide .footerBottomLogo .martyLogo,
.rightSide .footerBottomLogo .mislaLogo {
  padding: 0 20px;
  z-index: 10
}

.rightSide .footerBottomLogo img {
  max-width: 150px;
  z-index: 10
}

.fundrasing-page .socialLinksIcons,
.rightSide .socialLinksIcons {
  position: relative;
  z-index: 10
}

.rightSide .socialLinksIcons .socialList {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 27px;
  left: 45px;
  z-index: 10
}

.fundrasing-page .socialLinksIcons .socialList li,
.rightSide .socialLinksIcons .socialList li {
  padding: 13px
}

.fundrasing-page .socialLinksIcons .socialList li a img,
.rightSide .socialLinksIcons .socialList li a img {
  max-width: 23px;
  z-index: 10
}

.fundrasing-page .bottomMenu,
.rightSide .bottomMenu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0 0;
  z-index: 10
}

.fundrasing-page .bottomMenu .bottomLogoDonate a img,
.rightSide .bottomMenu .bottomLogoDonate a img {
  max-width: 60px
}

.fundrasing-page .bottomMenu .bottomLogoDonate,
.rightSide .bottomMenu .bottomLogoDonate {
  margin-left: 30px
}

.fundrasing-page .bottomMenu ul.nav li a,
.rightSide .bottomMenu ul.nav li a {
  margin: 8px 10px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  line-height: 16px;
  color: #fff;
  transition: .3s ease-in-out;
  position: relative;
  display: inline-block;
  padding: 0;
  padding-bottom: 8px;
  z-index: 10
}

.leftSide .middleImageBox {
  position: relative
}

.leftSide .centerLogoMarty img {
  position: absolute;
  top: -70px;
  max-width: 292px;
  right: -164px;
  z-index: 0
}


/* =====secoend page========== */

.fundrasing-page {
  background-image: url(../images/fundrasing-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}


.fundrasing-page nav {
  margin-left: 25px;
}

.fundrasing-page nav .col-lg-9 {
  margin: 0;
}

/* title */
.fundrasing-page .bottomMenu ul.nav li {
 width: auto; 
}
.fundrasing-page .bigLogo img {
  display: block;
  margin: auto;
  width: 50%;
}

/* upper heading circle */

.fundrasing-page .dotted-circle {
 width: 100%;
    position: relative;
    text-align: center;
}

.fundrasing-page .dotted-circle .dc {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid;
  border-radius: 50%;
  border-color: rgb(245, 196, 105);
  margin-left: 15px;
}

/* End upper heading circle */
.ml-20 {
    margin-left: 22%;
}
.fundrasing-page .heading {
  position: relative;
  font-family: "Montserrat Regular";
  font-size: 21px;
  font-weight: 300;
  color: rgb(68, 67, 67);
  /* top: 75%; */
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 15px;
}

.fundrasing-page .heading::after {
  content: "";
  display: block;
  height: .25rem;
  background: rgb(245, 196, 105);
  width: 8.5rem;
  margin: auto;
  margin-top: 8px;
}

/* =========== Start Circle section ========= */
.fundrasing-page .circle-price {
  display: block;
  margin-top: 20px;
}

.fundrasing-page .circle-price .img-fluid {
  display: block;
  position: absolute;
  margin-left: 29%;
  margin-right: auto;
  width: 62%;
  z-index: 10;
}

/* Start Ring making */

/* inner ring */

.fundrasing-page .ring {
  width: 8.5em;
  height: 8.5em;
  border: .3em solid #757575;
  border-radius: 50%;
  position: absolute;
}

.fundrasing-page .ring1,
.fundrasing-page .ring2,
.fundrasing-page .ring3,
.fundrasing-page .ring4 {
  top: 12%;
}

.fundrasing-page .ring5,
.fundrasing-page .ring6,
.fundrasing-page .ring7 {
  top: 62%;
}

.fundrasing-page .ring1 {
  left: 33.8%;
}

.fundrasing-page .ring2 {
  left: 49%;
}

.fundrasing-page .ring3 {
  left: 64.35%;
}

.fundrasing-page .ring4 {
  left: 79.6%;
}

.fundrasing-page .ring5 {
  left: 41.5%;
}

.fundrasing-page .ring6 {
  left: 56.7%;
}

.fundrasing-page .ring7 {
  left: 71.95%;
}

/* Outer ring */

.fundrasing-page .ringsm {
  width: 9.2em;
  height: 9.2em;
  border: .1em solid #757575;
  border-radius: 50%;
  position: absolute;
}

.fundrasing-page .ringsm1,
.fundrasing-page .ringsm2,
.fundrasing-page .ringsm3,
.fundrasing-page .ringsm4 {
  top: 9.6%;
}

.fundrasing-page .ringsm5,
.fundrasing-page .ringsm6,
.fundrasing-page .ringsm7 {
  top: 59.6%;
}

.fundrasing-page .ringsm1 {
  left: 33.25%;
}

.fundrasing-page .ringsm2 {
  left: 48.54%;
}

.fundrasing-page .ringsm3 {
  left: 63.87%;
}

.fundrasing-page .ringsm4 {
  left: 79.12%;
}

.fundrasing-page .ringsm5 {
  left: 41%;
}

.fundrasing-page .ringsm6 {
  left: 56.2%;
}

.fundrasing-page .ringsm7 {
  left: 71.45%;
}

/* End Ring making */

/* Name and price */
.fundrasing-page .circle-price p {
  position: absolute;
  text-transform: uppercase;
  font-family: "Dock11 Heavy";
  font-size: 90%;
  z-index: 9999;
}

.fundrasing-page .circle-price .price {
  font-family: "Nunito Bold";
  font-size: 100%;
  color: #3b3a4d;
}

.fundrasing-page .circle-price .c-text,
.fundrasing-page .circle-price .f-text,
.fundrasing-page .circle-price .m-text,
.fundrasing-page .circle-price .r-text {
  margin-top: 5.5%;
}

.fundrasing-page .circle-price .c-price,
.fundrasing-page .circle-price .f-price,
.fundrasing-page .circle-price .m-price,
.fundrasing-page .circle-price .r-price {
  margin-top: 7.3%;
}

.fundrasing-page .circle-price .b-text,
.fundrasing-page .circle-price .d-text,
.fundrasing-page .circle-price .me-text {
  margin-top: 16.8%;
}

.fundrasing-page .circle-price .b-price,
.fundrasing-page .circle-price .d-price,
.fundrasing-page .circle-price .me-price {
  margin-top: 18.4%;
}

.fundrasing-page .circle-price .r-text {
  margin-left: 32%;
  color: #6f2ca9;
}

.fundrasing-page .circle-price .m-text {
  margin-left: 49.8%;
  color: #7ba5f5;
}

.fundrasing-page .circle-price .c-text {
  margin-left: 65.5%;
  color: #3a6075;
}

.fundrasing-page .circle-price .f-text {
  margin-left: 81.4%;
  color: #de8b22;
}

.fundrasing-page .circle-price .b-text {
  margin-left: 40.5%;
  color: #4709d2;
}

.fundrasing-page .circle-price .me-text {
  margin-left: 58%;
  color: #1ac1e4;
}

.fundrasing-page .circle-price .d-text {
  margin-left: 74%;
  color: #de8b22;
}

.fundrasing-page .circle-price .r-price {
  margin-left: 33.3%
}

.fundrasing-page .circle-price .m-price {
  margin-left: 49.5%;
}

.fundrasing-page .circle-price .c-price {
  margin-left: 65.4%;
}

.fundrasing-page .circle-price .f-price {
  margin-left: 81.5%;
}

.fundrasing-page .circle-price .b-price {
  margin-left: 41%;
}

.fundrasing-page .circle-price .me-price {
  margin-left: 57.2%;
}

.fundrasing-page .circle-price .d-price {
  margin-left: 74%
}

.fundrasing-page .b-image,
.fundrasing-page .c-image,
.fundrasing-page .d-image,
.fundrasing-page .f-image,
.fundrasing-page .m-image,
.fundrasing-page .me-image,
.fundrasing-page .r-image {
  position: absolute;
  z-index: 9999;
}

.fundrasing-page .circle-price .b-image,
.fundrasing-page .circle-price .c-image,
.fundrasing-page .circle-price .d-image,
.fundrasing-page .circle-price .m-image,
.fundrasing-page .circle-price .me-image,
.fundrasing-page .circle-price .r-image {
  width: 2%
}

.fundrasing-page .circle-price .r-image {
  margin-top: 1.3%;
  margin-left: 38.9%;
}

.fundrasing-page .circle-price .c-image {
  margin-top: 1.8%;
  margin-left: 62%;
}

.fundrasing-page .circle-price .m-image {
  margin-top: 12.7%;
  margin-left: 50.8%;
}

.fundrasing-page .circle-price .b-image {
  margin-top: 20.2%;
  margin-left: 37.1%;
}

.fundrasing-page .circle-price .me-image {
  margin-top: 20.4%;
  margin-left: 64.8%;
}

.fundrasing-page .circle-price .d-image {
  margin-top: 20.3%;
  margin-left: 80.9%;
}
.horizental-scroll {
    color: #FFF;
    border: 1px solid;
    height: 40px;
    width: 40px;
    text-align: center;
    position: absolute;
    bottom: 6%;
    right: 20px;
    border-radius: 100%;
    line-height: 2.2;
    background: #7620c9;
    animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    right: 20px;
    background: #fff;
    color: #7620c9;
  }
  100% {
      right: 25px;
  }
}
.fundrasing-page .circle-price .f-image {
  margin-top: 12.7%;
  margin-left: 84%;
  width: 1%;
}

.fundrasing-page .socialLinksIcons .socialList {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 45px;
  z-index: 10
}

/* Youth and mentor section */

.fundrasing-page .head1,
.fundrasing-page .title1,
.fundrasing-page .description1,
.fundrasing-page .head2,
.fundrasing-page .title2,
.fundrasing-page .description2 {
  display: block;
  position: absolute;
  color: #fff;
  font-family: "Montserrat Regular";
  font-weight: bold;
}

.fundrasing-page .head1,
.fundrasing-page .head2 {
  font-size: 88%;
  text-transform: uppercase;
  position: absolute;
  top: 13%;
}

.fundrasing-page .head1 {
  left: 32%;
}

.fundrasing-page .head2,
.fundrasing-page .description2 {
  left: 75%;
}

.fundrasing-page .title1,
.fundrasing-page .title2 {
  font-size: 40%;
  text-transform: uppercase;
  position: absolute;
  top: 18%;
}

.fundrasing-page .title1 {
  left: 32%;
}

.fundrasing-page .title2 {
  text-align: center;
  left: 75%;
}

.fundrasing-page .title1::after {
  content: "";
  display: block;
  height: .075rem;
  background: rgba(20, 0, 136, 0.4);
  width: 4rem;
  margin: auto;
  margin-top: 1px;
}

.fundrasing-page .title2::after {
  content: "";
  display: block;
  height: .075rem;
  background: rgba(20, 0, 136, 0.4);
  width: 4rem;
  margin-top: 1px;
}

.fundrasing-page .description1,
.fundrasing-page .description2 {
  font-size: 45%;
  width: 15%;
  top: 21%;
}

.fundrasing-page .description1 {
  left: 32%;
}

.fundrasing-page .mentorImage img,
.fundrasing-page .youthImage img {

     padding: 0px 0 20px 0;
}

.fundrasing-page .youthImage img {
  margin-left: 45px;
}

.fundrasing-page .mentorImage img {
  margin-left: 20px
}

.fundrasing-page .mentorImage,
.fundrasing-page .youthImage {
  display: inline;
}

.fundrasing-page .mislaLogo {
  width: 80%;
  margin-top: 175px;
}

.fundrasing-page .bottomMenu {
  margin-top: 80px;

}

.fundrasing-page .bottomMenu p{
  color: #fff;
}
.fundrasing-page .bottomMenu p a{
  color: #fff;
}

/* End secoend page */

@media only screen and (max-width:1270px) {
  .fundrasing-page {
    background-position: bottom;
  }

  .fundrasing-page .head1,
  .fundrasing-page .head2 {
    font-size: 85%;
    top: 11%;
  }

  .fundrasing-page .title1,
  .fundrasing-page .title2 {
    font-size: 37%;
    top: 16%;
  }

  .fundrasing-page .description1,
  .fundrasing-page .description2 {
    font-size: 42%;
    top: 19%;
  }
}

  @media (max-width:991px) and (min-width:767px) {
    .leftSide .centerLogoMarty img {
      display: none
    }
  }

  @media (max-width:3000px) and (min-width:1400px) {
    .horizental-scroll {
    bottom: 10.4%;
  }

   .fundrasing-page .circle-price p {
   
    font-size: 18px;
}
.fundrasing-page .circle-price .price {
    font-size: 18px;
 }
.fundrasing-page .circle-price .r-price {
    margin-left: 33.3%;
}
    .fundrasing-page .bottomMenu {
    margin-top: 170px;
}
.fundrasing-page .title1, .fundrasing-page .title2 {
    top: 33%;
}
.fundrasing-page .description1, .fundrasing-page .description2 {

    top: 37%;
}
.fundrasing-page .head1, .fundrasing-page .head2 {
    top: 28%;
}
.fundrasing-page {
  background-position: center;
}
    .leftSide .row .imageBox img {
    max-width: 70px;
}
.fundrasing-page .navbar a img.logoTopMenu, .leftSide .navbar a img.logoTopMenu {
    max-width: 100px;
}
.fundrasing-page ul.nav li a, .leftSide ul.nav li a {
    margin: 8px 10px;
    font-size: 18px;
  }
  .leftSide .bigLogo img {
    max-height: 75px;
  }
  .leftSide .row .imageBox h3 {
    font-size: 16px;
  }
  .leftSide .row .imageBox a {
    font-size: 14px;
  }
.leftSide .row .imageBox {
    padding: 15px 10px 0;
}
.leftSide .row .imageBox .topIcon h2 {
    font-size: 26px;
    line-height: 24px;
    margin-left: -20px;
}
.rightSide .mentorImage img,
.rightSide .youthImage img {
  max-width: 67%;
}
.rightSide .heroHeading h1 {
    font-size: 50px;
  }
  .leftSide .centerLogoMarty img {
    max-width: 340px;
}
.rightSide .socialLinksIcons .socialList {
    top: 40px;
    left: 37px;
}
.leftSide .centerLogoMarty img {
    max-width: 340px;
  }
  .fundrasing-page .socialLinksIcons .socialList li a img, .rightSide .socialLinksIcons .socialList li a img {
    max-width: 30px;
  }
.rightSide .detailText h3 {
    font-size: 20px;
    line-height: 26px;
    padding: 15px 0 0
  }
  .rightSide .footerBottomLogo img {
    max-width: 175px;
}
.fundrasing-page .bottomMenu ul.nav li a, .rightSide .bottomMenu ul.nav li a {
    font-size: 16px;
    }
    .fundrasing-page .bottomMenu .bottomLogoDonate a img, .rightSide .bottomMenu .bottomLogoDonate a img {
    max-width: 70px;
}
}
  @media (max-width:991px) {
    .fundrasing-page .youthImage img,.fundrasing-page .mentorImage img {
      margin-left: 0;
    }
    .fundrasing-page ul.nav li a {
    margin: 3px 8px;
  }
    .fundrasing-page .bottomMenu {
      margin-top: 10px;
    }
    .martyLogo img{
      max-width: 30%
    }
    .mislaLogo img {
      max-width: 60%
    }
    .fundrasing-page ul.nav li, .leftSide ul.nav li {
      width: 100%;
    } 
    .fundrasing-page .bottomMenu{
          margin-left: 0;
    }
    .fundrasing-page .mislaLogo {
    width: 23%;
  }
    .fundrasing-page ul.nav {
      padding-left: 0;
    }
    .home-page {
      background-image: url(../images/mobile-bg.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 100%;
      z-index: -10;
      min-height: 100vh
    }
.fundrasing-page nav {
    margin-left: 0;
}
    .navbar-light .navbar-toggler i {
      color: #609eb3
    }

    .navbar-light .navbar-toggler,
    .navbar-light .navbar-toggler:focus {
      border: none;
      outline: 0
    }

    .leftSide ul.nav {
      padding: 15px 0 0 0;
      flex-direction: column
    }

    .leftSide .bigLogo,
    .rightSide .donateLink {
      text-align: center
    }
  }

  @media (max-width:767px) {
    .ml-20 {
      margin-left: 0;
    }
    .rightSide .bottomMenu {
      flex-direction: column
    }
.fundrasing-page .bigLogo img {
  width: 70%;margin-top: 20px;
}
    .leftSide .centerLogoMarty img {
      position: absolute;
      top: 0;
      max-width: 250px;
      z-index: 0;
      left: -200px
    }

    .rightSide .footerBottomLogo img {
      max-width: 100%
    }
  }

  @media (max-width:575px) {
    .leftSide .centerLogoMarty img {
      top: 0;
      right: 0;
      max-width: 200px;
      z-index: 0;
      left: 50%;
      margin-left: -70px
    }

    .rightSide .detailText {
      padding: 0
    }

    

  

    .rightSide .heroHeading,
    .rightSide .socialLinksIcons,
    .rightSide .youthImage {
      text-align: center
    }

    .rightSide .socialLinksIcons .socialList {
      justify-content: center;
      top: 0;
      position: relative;
      flex-direction: row;
      left:0;
    }

    .rightSide .bottomMenu ul.nav {
      justify-content: center
    }

    .rightSide .bottomMenu .bottomLogoDonate {
      margin-left: 0;
      margin-top: 20px
    }
  }